.cart {
  margin-bottom: 60px;

  @include atMobile{
    margin-bottom: 30px;
  };

  &__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 26px;

    @include atMobile {
      margin-bottom: 13px;
      display: block;
    };
  }

  &__header-text {
    font-size: 15px;
    line-height: 14px;
    letter-spacing: 1px;
    color: $black2;
    text-transform: uppercase;

    @include atMobile{
      margin-bottom: 15px;
    };
  }

  &__back-to-shop {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    align-items: center;
    font-size: 12px;
    color: #ccc;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    transition: color .3s;

    @include fromVerticalTablet{
      &:hover {
        color: $black2;

        .cart__back-to-shop-icon {
          color: $black2;
        }
      }
    };

    @include atMobile{
      justify-content: flex-end;
    };
  }

  &__back-to-shop-icon {
    font-size: 15px;
    color: #ccc;
    margin-right: 20px;
    transform: translateY(-1px);
    transition: color .3s;

    @include atMobile{
      margin-right: 10px;
    };
  }

  &__content {
    padding: 30px 0 30px;
    border: 1px solid #dedede;
    border-width: 1px 0;
    position: relative;
    margin-bottom: 34px;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 30px;

    &:first-child {
      padding-top: 0;
    }

    &:after {
      display: block;
      content: '';
      width: 328px;
      height: 1px;
      border-bottom: 1px dashed #cbcbcb;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
    }

    &--header {
      padding: 0;
      margin: 0;
      position: absolute;
      left: 0;
      top: 30px;
      right: 0;

      &:after {
        display: none;
      }

      .cart {
        &__img {
          height: 0;
        }

        &__quantity, &__single-total {
          padding-top: 0;
        }
      }
    }

    &:last-child {
      &:after {
        display: none;
      }

      margin-bottom: 0;
      padding-bottom: 0;
    }

    @include atMobile{
      padding-bottom: 15px;
      display: block;
      margin-bottom: 30px;

      &--header {
        display: none;
      }

      &:after {
        width: 100%;
      }
    };
  }

  &__img {
    width: 185px;
    height: 185px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
      max-height: 100%;
      height: auto;
    }

    @include atMobile{
      width: 100%;
      margin-bottom: 20px;
    };
  }

  &__info {
    width: 285px;
    margin-left: 52px;
    text-align: center;

    @include atMobile{
      width: 100%;
      margin: 0 0 20px;
    };
  }

  &__quantity {
    width: 55px;
    margin-left: 135px;

    @include atMobile {
      width: 100%;
      margin: 0 0 20px;
    };
  }

  &__single-total {
    width: 80px;
    margin-left: 108px;

    @include atMobile{
      width: 100%;
      margin: 0 0 20px;
      text-align: center;

      .cart {
        &__price {
          display: block;
        }
      }
    };
  }

  &__close {
    width: 10px;
    margin-left: auto;
    align-self: flex-start;

    @include atMobile{
      position: absolute;
      right: 10px;
      top: 10px;
    };
  }

  &__quantity, &__single-total, &__close {
    align-self: flex-start;
    padding-top: 67px;

    @include atMobile{
      padding-top: 0;
    };
  }

  &__head {
    font-size: 15px;
    line-height: 14px;
    color: $black2;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
  }

  &__price {
    font-size: 16px;
    line-height: 18px;
    color: #a67c52;
    letter-spacing: 1px;

    @include atMobile{
      display: none;
    };
  }

  &__title {
    @include akrobat;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1px;
    color: $black2;
    text-transform: uppercase;
  }

  &__quantity-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 18px;
    line-height: 18px;
    @include akrobat;
    color: $black2;
    letter-spacing: 1px;

    @include atMobile {
      justify-content: center;
    };
  }

  &__count {
    width: 35px;
    text-align: center;
  }

  &__close-btn {
    font-size: 10px;
    color: #e44061;
    border: 10px solid transparent;
    transform: translate(-10px, -10px);
  }

  &__order-notes {
    width: 492px;

    .cart__title {
      margin-bottom: 30px;
    }

    @include atMobile{
      width: 100%;
      margin-bottom: 20px;
    };
  }

  &__order-notes-content {
    border: 1px dashed #cbcbcb;
    border-width: 1px 0;
    padding: 70px 0;
  }

  &__total {
    display: flex;
    flex-wrap: wrap;

    @include atMobile{
      display: block;
    };
  }

  &__total-price {
    width: 328px;
    margin-left: auto;
    text-align: right;

    @include atMobile{
      width: 100%;
    };
  }

  &__total-summ, &__reminder {
    @include akrobat;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #636363;
  }

  &__total-summ, &__value {
    color: $black2;
  }

  &__reminder {
    margin-bottom: 25px;
  }
}
