.choose-side {
  height: 326px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;

  &__header {
    font-size: 64px;
    font-weight: bold;
    line-height: 45px;
    letter-spacing: 6.7px;
    @include alpha;
    text-transform: uppercase;
    color: #fff;
    margin: 0 auto;
    transform: translateY(24px);
    display: inline-block;

    @include atMobile{
      text-align: center;
      max-width: 250px;
      line-height: 48px;
    };
  }

  &__top-text {
    margin-bottom: 30px;

    @include atMobile{

    };
  }

  &__bottom-text {
    display: flex;
    justify-content: space-between;

    @include atMobile{
      display: block;
      font-size: 72px;

      span {
        display: block;
      }
    };
  }

  @include atMobile{
    &__color-white {
      color: #fff;
    }

    &__color-grey {
      color: #636363;
    }

    &__color-black {
      color: #000;
    }
  };
}
