.email-sub {
  display: flex;
  flex-wrap: wrap;
  height: 56px;

  @include atMobile{
    display: block;
    height: auto;
  };

  &__input {
    width: 176px;
    height: 100%;
    background: $white1;
    border: none;
    padding: 0 15px;
    font-size: 16px;
    color: $black2;
    margin-bottom: 12px;

    @include atMobile{
      width: 100%;
      height: 56px;
    };
  }

  &__submit {
    width: 128px;
    height: 100%;
    background: $grey1;
    @include akrobat;
    font-size: 12px;
    line-height: 18px;
    color: $black2;
    letter-spacing: 1px;
    text-transform: uppercase;

    @include atMobile{
      width: 128px;
      height: 56px;
      background: $grey6;
      color: $black2;
    };
  }
}
