.fall-winter-collection {
  height: 317px;
  background: no-repeat center;
  background-size: cover;

  &__wrapper {
    padding-left: 140px;
    display: flex;
    align-items: center;
    height: 100%;

    @include atMobile{
      padding-left: 0;
      padding-top: 115px;
    };
  }

  &__content {
    max-width: 286px;
    text-align: center;
  }

  &__header {
    font-size: 42px;
    line-height: 33px;
    letter-spacing: 1px;
    color: #fff;
    @include alpha;
    margin-bottom: 30px;
    text-transform: uppercase;
  }

  &__btn {
    width: 130px;
    margin: 0 auto;
  }
}
