.fall-winter-collection {
  height: 317px;
  background: no-repeat center;
  background-size: cover;
  margin-bottom: 59px;

  @include atMobile{
    margin-bottom: 40px;
  };

  &__wrapper {
    padding-left: 140px;
    padding-top: 100px;
    height: 100%;

    @include atMobile{
      padding-left: 0;
      padding-top: 115px;
    };
  }

  &__content {
    max-width: 296px;
    text-align: center;
  }

  &__header {
    font-size: 42px;
    font-weight: bold;
    line-height: 33px;
    letter-spacing: 5px;
    color: $white1;
    @include alpha;
    margin-bottom: 26px;
    text-transform: uppercase;
  }

  &__btn {
    width: 130px;
    margin: 0 auto;
  }
}
