.global-wrapper {
  margin: 0 auto;
  overflow: hidden;
  padding-top: 124px;

  &--no-pdt {
    padding-top: 0;
  }

  &.js-popup-open {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}
