* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

body {
	@include arcon;
}


.icon {
	display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

button {
	display: inline-block;
	border: none;
	background: none;
	cursor: pointer;
}

.h2 {
	@include akrobat;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 7.4px;
	color: #c3c7ca;
	margin-bottom: 26px;
	text-align: center;

	@include atMobile{
		font-size: 20px;
		font-weight: 900;
		letter-spacing: 4px;
		color: #000;
		margin-bottom: 26px;
	};

	&--grey {
		color: #707070;
	}
}

.p {
	font-size: 14px;
	line-height: 14px;
	color: #000;
	margin-bottom: 15px;

	&:last-child {
		margin-bottom: 0;
	}
}

.link-blue {
	@include akrobat;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 1px;
	color: #0072bc;
	text-transform: uppercase;
	opacity: 1;
}

ul li {
	list-style: none;
}

h4 {

}
