.global-wrapper {
  margin: 0 auto;
  overflow: hidden;
  padding-top: 124px;
  min-height: 100vh;
  max-width: 100vw;

  &--no-pdt {
    padding-top: 0;
  }

  &--grey-bg {
    background: #e2e2e2;
  }

  &.js-popup-open {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  &.blur {
    .page-header, .page-main, .page-footer {
      filter: blur(20px);
    }
  }

  @include atMobile{
    padding-top: 150px;
  };
}
