.item-full {
  margin-bottom: 40px;

  @include atMobile{
    margin-bottom: 20px;
  };
  
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include atMobile{
      display: block;
    };
  }

  &__specs {
    width: 63.0625%;

    @include atMobile{
      width: 100%;
      margin-bottom: 30px;
    };
  }

  &__info {
    width: 33.95833333333333%;

    @include atMobile{
      width: 100%;
    };
  }

  &__gallery {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 45px;

    @include atMobile{
      flex-direction: column;
    };
  }

  &__small-gallery {
    margin-right: 8px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 33px;

    @include atMobile{
      flex-direction: row;
      justify-content: flex-start;
      padding-bottom: 0;
      order: 1;
      margin: -5px;
    };
  }

  &__img-small {
    width: 86px;
    height: 86px;
    border: 1px solid #ececec;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: auto;
      max-height: 100%;
    }

    @include atMobile{
      width: calc((100% / 3) - 10px);
      margin: 5px;
    };
  }

  &__big-gallery {
    flex: 1;
    border: 1px solid #ececec;
    display: block;

    img {
      width: 100%;
      height: auto;
      max-height: 100%;
    }

    @include atMobile{
      margin-bottom: 20px;
    };
  }

  &__header {
    font-size: 15px;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 32px;
  }

  &__price {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1px;
    color: #a67c52;
    margin-bottom: 30px;
  }

  &__content {
    border: 1px dashed #cbcbcb;
    border-width: 1px 0 0 0;
    padding: 32px 0 45px 0;

    p {
      margin-bottom: 18px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__title-aqua {
    font-size: 14px;
    line-height: 14px;
    color: #3b8376;
    margin-bottom: 30px;
  }

  &__accordion {
    margin-bottom: 35px;
  }

  &__accordion-item {
    border: 1px dashed #cbcbcb;
    border-width: 0 0 1px 0;

    &:first-child {
      border-width: 1px 0 1px 0;
    }
  }

  &__accordion-header {
    @include akrobat;
    font-size: 12px;
    line-height: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 28px 0;
  }

  &__accordion-toggle {
    @include akrobat;
    font-size: 21px;
    font-weight: normal;
    line-height: 18px;
    letter-spacing: 1px;
    color: #acacac;
  }

  &__accordion-content {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
