.main-slider {
  position: relative;
  font-size: 0;

  &__item {
    background-position: right center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 624px;
    padding-top: 253px;

    @include atMobile {
      padding-top: 0;
      height: 671px;
      position: relative;
      text-align: center;
      background-position: center bottom;
    };
  }

  &__content {
    width: 746px;
    height: 305px;
    background: rgba(#d5171d, .95);
    padding-left: 137px;
    padding-top: 50px;

    @include atMobile{
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100vw;
      height: 229px;
      padding: 17px 40px 50px 40px;
    };
  }

  &__header {
    @include helvetica;
    font-size: 60px;
    font-weight: bold;
    font-style: italic;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 8px;

    @include atMobile{
      font-size: 40px;
      margin-bottom: 0;
    };
  }

  &__title {
    @include akrobat;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 27px;
    letter-spacing: 5px;

    @include atMobile{
      font-size: 27px;
      margin-bottom: 15px;
    };
  }

  &__button {
    width: 238px;

    @include atMobile{
      display: inline-flex;
    };
  }

  &__counter {
    position: absolute;
    right: 85px;
    bottom: 19px;
    @include montserrat;
    font-size: 18px;
    font-weight: bold;
    color: #c2c2c2;

    @include atMobile{
      font-size: 11px;
      left: 50%;
      right: auto;
      bottom: 18px;
      transform: translateX(-50%);
    };
  }

  &__current-slide {
    font-size: 40px;

    @include atMobile{
      font-size: 24px;
    };
  }

  &__arrows {
    position: absolute;
    left: 0;
    top: 389px;

    .slick {
      &-arrow {
        font-size: 0;
        width: 25px;
        height: 32px;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../img/arrow.png);
        position: absolute;

        &.slick-disabled {
          opacity: 0.5;
        }
      }

      &-prev {
        transform: rotate(-180deg);
        left: 112px;
      }

      &-next {
        left: 786px;
      }
    }

    @include atMobile{
      left: 16px;
      top: auto;
      right: 16px;
      bottom: 22px;
      transform: translateX(0);
      height: 0;

      .slick {
        &-arrow {
          transform: translateY(-100%);
          width: 18px;
          height: 23px;
        }

        &-prev {
          left: 0;
          transform: rotate(-180deg) translateY(100%);
        }

        &-next {
          right: 0;
          left: auto;
        }
      }
    };
  }
}
