.menu {
  background: #626567;
  height: 44px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 300;
  padding-left: 111px;

  &__delivery {
    font-size: 14px;
    color: #9da0a3;
    text-transform: uppercase;
  }

  &__delivery__t2 {
    color: #858b8f;
  }

  @include atMobile {
    padding: 0 16px;
    height: 41px;

    &__delivery {
      font-size: 10px;
    }
  }
}
