.nav {
  &--color-white {
    .nav__link {
      &:after {
        background: $white1;
      }
    }
  }

  &__ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }

  &__li {
    margin: 0 15px;
  }

  &__link {
    display: inline-block;
    font-size: 12px;
    color: $white1;
    text-transform: uppercase;
    text-decoration: none;
    @include akrobat;
    position: relative;

    &:after {
      display: block;
      content: '';
      margin: 0 auto;
      width: 0;
      height: 1px;
      background: $black2;
      transition: width .3s;
      transform: translateY(3px);
    }

    &--counter {
      position: relative;
      padding-right: 24px;

      .nav__counter {
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    &--mobile {
      display: none;
    }

    @include fromVerticalTablet{
      &:hover {
        &:after {
          width: 100%;
        }
      }
    };

    @include atMobile {
      &--mobile {
        display: inline-flex;
        margin-left: auto;
      }

      &--counter {
        padding-right: 0;
      }
    }
  }

  &__counter {
    width: 15px;
    height: 15px;
    display: block;
    border-radius: 50%;
    background: $green;
    font-size: 11px;
    color: $white1;
    @include akrobat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;

    @include atMobile {
      transform: translate(0);
      right: auto;
      left: calc(100% + 8px);
    }
  }

  @include atMobile {
    display: none;
  }
}
