.nav {
  &__ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }

  &__li {
    margin: 0 15px;
  }

  &__link {
    display: inline-block;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    @include akrobat;

    &--counter {
      position: relative;
      padding-right: 24px;

      .nav__counter {
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    &--mobile {
      display: none;
    }

    @include atMobile {
      &--mobile {
        display: inline-flex;
        margin-left: auto;
      }

      &--counter {
        padding-right: 0;
      }
    }
  }

  &__counter {
    width: 15px;
    height: 15px;
    display: block;
    border-radius: 50%;
    background: #005952;
    font-size: 11px;
    color: #fff;
    @include akrobat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;

    @include atMobile {
      transform: translate(0);
      right: auto;
      left: calc(100% + 8px);
    }
  }

  @include atMobile {
    display: none;
  }
}
