.select {
  @include arcon;
  font-size: 14px;
  color: #fff;
  background: none;
  border: none;
  appearance: none;
  cursor: pointer;
  position: relative;
  z-index: 500;
  display: inline-block;
  padding-right: 20px;

  &__wrapper {
    position: relative;
    background: url(../img/icon-down.png) no-repeat right center;
  }

  option {
    color: #000;
  }

  &--grey {
    padding-right: 15px;
    @include akrobat;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1px;
    font-weight: 500;
    color: #000;
    text-transform: uppercase;

    option:first-child {
      display: none;
    }
  }

  &__icon-down {
    font-size: 10px;
    color: #a3a3a3;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &__content-wrap {
    position: absolute;
    right: -94px;
    top: calc(100% + 30px);
    background: rgba(#262626, 0.95);
    padding: 57px 0;
    min-width: 282px;
    display: flex;
    justify-content: center;
    display: none;

    @include atMobile{
      right: auto;
      left: 0;
      top: calc(100% + 15px);
    };
  }

  &__content {
    &:after {
      display: block;
      content: '';
      position: absolute;
      right: 93px;
      bottom: 100%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 7.5px 7px 7.5px;
      border-color: transparent transparent #262626 transparent;
    }

    @include atMobile{
      &:after {
        right: auto;
        left: 0;
      }
    };
  }

  &__option {
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 1px;
    color: #fff;
    text-transform: uppercase;
    text-align: right;
  }

  .js-select-wrap {
    &.active {
      display: flex;
    }
  }
}
