.social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 -13px;

  &__link {
    font-size: 18px;
    color: #fff;
    opacity: 0.5;
    margin: 0 13px;
    text-decoration: none;
    transition: opacity .2s;

    @include fromVerticalTablet{
      &:hover {
        opacity: 1;
      }
    };
  }

  &--grey {
    .social {
      &__link {
        color: #878787;
        opacity: 1;
        transition: color .2s;

        @include fromVerticalTablet{
          &:hover {
            color: #000;
          }
        };
      }
    }
  }

  &--404 {
    justify-content: center;

    .social {
      &__icon {
        color: #c5c5c5;
        transition: color .3s;

        @include fromVerticalTablet{
          &:hover {
            color: #000
          }
        };
      }
    }
  }
}
