// 1 = most light color; 10 = most dark color;
$grey1: #ebebeb;
$grey2: #e2e2e2;
$grey3: #c5c4c4;
$grey4: #7d7d7d;
$grey5: #a5a5a5;
$grey6: #3d3d3d;

$black1: #262626;
$black2: #000;

$white1: #fff;
$white2: #fcfcfc;

$orange1: #ff982b;
$orange2: #c75427;

$black-grey: #626567;
$red: #d5171d;
$green: #005952;
$brown: #603913;
