.wrapper {
  padding: 0 83px;
  margin: 0 auto;

  &--max-width {
    width: 986px;
    margin: 0 auto;

    @include atMobile{
      max-width: 289px;
    };
  }

  @include atMobile {
    padding: 0 16px;
  }
}
